<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ng-users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="ngUsers" ng-controller="usersController">

  	<!-- Nav Bar -->
	  <nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="#">ng-users</a>
	      </div>
	    </div>
	  </nav>
		
		<div class="container">
		  <!-- Min and Max Salary Selection -->
		  <div class="col-sm-12 price-form">      
				<div class="row price-form-row" ng-if="!addListing">
			    <div class="col-sm-6">
			      <div class="input-group">
			        <span class="input-group-addon">Min Salary</span>
			        <select name="minSalary" id="minSalary" ng-model="salaryInfo.min" class="form-control">
			          <option value="100000">$100,000</option>
			          <option value="200000">$200,000</option>
			          <option value="300000">$300,000</option>
			          <option value="400000">$400,000</option>
			          <option value="500000">$500,000</option>
			        </select>
			      </div>          
			    </div>

			    <div class="col-sm-6">
			      <div class="input-group">
			        <span class="input-group-addon">Max Salary</span>
			        <select name="maxSalary" id="maxSalary" ng-model="salaryInfo.max" class="form-control">
			          <option value="100000">$100,000</option>
			          <option value="200000">$200,000</option>
			          <option value="300000">$300,000</option>
			          <option value="400000">$400,000</option>
			          <option value="500000">$500,000</option>
			        </select>
			      </div>          
			    </div>
				</div>
		    <button 
		    	class="btn btn-primary" 
		    	ng-click="addListing = !addListing" 
		    	ng-show="!addListing">Add Users
		    </button>

		    <button 
		    	class="btn btn-danger" 
		    	ng-click="addListing = !addListing" 
		    	ng-show="addListing">Close
		    </button>

		      <div class="listing-form" ng-if="addListing">

		        <h3>Add a User</h3>

		        <div class="row listing-form-row">
		        <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">User Name</span>
		              <input 
		              	type="text" 
		              	placeholder="Enter the User name" 
		              	class="form-control" 
		              	ng-model="newListing.name">
		            </div>
		          </div>

		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">Address</span>
		              <input 
		              	type="text" 
		              	placeholder="Enter the address" 
		              	class="form-control" 
		              	ng-model="newListing.address">
		            </div>
		          </div>

		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">Salary</span>
		              <input 
		              	type="text" 
		              	placeholder="Enter the salary" 
		              	class="form-control" 
		              	ng-model="newListing.salary">
		            </div>
		          </div>
		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">Job Type</span>
		              <select 
		              	type="select" 
		              	name="jobType" 
		              	id="jobType" 
		              	class="form-control" 
		              	ng-model="newListing.type">
			                <option value="GeneralManager">General Manager</option>
			                <option value="TeamLead">Team Lead</option>
			                <option value="SeniorDeveloper">Senior Developer</option>
			                <option value="Tester">Tester</option>
		              </select>
		            </div>
		          </div>
		        </div>
		        <div class="row listing-form-row">
		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">Job Description</span>
		              <textarea 
		              	type="text" 
		              	placeholder="Enter the Job description" 
		              	class="form-control" 
		              	ng-model="newListing.description">
		              </textarea>
		            </div>
		          </div>
		        </div>
			<button 
			class="btn btn-primary listing-button"
			ng-click="addUser(newListing)"
			ng-show="addListing">Add
			</button>
		        <pre>{{newListing | json}}</pre>
		      </div>

	        <div class="listing-form" ng-if="editListing">

	         <h3>Edit Listing</h3>

	         <div class="row listing-form-row">
	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">User Name</span>
	               <input 
	               	type="text"
	               	placeholder="Enter the user name"
	               	class="form-control"
	               	ng-model="existingListing.name">
	             </div>
	           </div>

	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">Address</span>
	               <input 
	               	type="text"
	               	placeholder="Enter the address"
	               	class="form-control"
	               	ng-model="existingListing.address">
	             </div>
	           </div>

	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">Salary</span>
	               <input 
	               	type="text"
	               	placeholder="Enter the salary"
	               	class="form-control"
	               	ng-model="existingListing.salary">
	             </div>
	           </div>
	           <div class="row listing-form-row">
	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">Job Type</span>
	               <select 
	               	type="select"
	               	name="jobType"
	               	id="jobType" 
	               	class="form-control" 
	               	ng-model="existingListing.type">
	      	         <option value="GeneralManager">General Manager</option>
			         <option value="TeamLead">Team Lead</option>
			         <option value="SeniorDeveloper">Senior Developer</option>
			         <option value="Tester">Tester</option>
	               </select>
	             </div>
	           </div>
	         </div>
	         </div>

	         <div class="row listing-form-row">
	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon"> Job Description</span>
	               <textarea 
	               	type="text"
	               	placeholder="Enter the Job description"
	               	class="form-control"
	               	ng-model="existingListing.description">
	               </textarea>
	             </div>
	           </div>

	           <button 
	           	class="btn btn-primary listing-button"
	           	ng-click="saveUserEdit()"	
	           	ng-show="editListing">Save
	           </button>

	           <button 
	           	class="btn btn-danger listing-button" 
	           	ng-click="deleteUser(existingListing)" 
	           	ng-show="editListing">Delete
	           </button>

	           </div>

		  </div>
	  </div>
			
	  <!-- ng-User Listings -->
    <div class="container">
      <div class="col-sm-4" 
      	ng-repeat="user in users | usersFilter:salaryInfo | orderBy: '-id'">          
        <div class="thumbnail">
          <img ng-src="images/{{user.image}}.jpg" alt="">
          <div class="caption">
            <div ng-hide="showDetails === true">
            <h2><i class="glyphicon glyphicon-user"></i> {{user.name}} </h2>
              <h3><i class="glyphicon glyphicon-tag"></i>  {{user.salary | currency}}
              		<span class="label label-primary label-sm">Salary</span>
              </h3>
              <h4><i class="glyphicon glyphicon-home"></i> {{user.address}} 
                <span class="label label-primary label-sm">{{user.type}}</span>
              </h4>
            </div>             
            <button class="btn btn-xs btn-success" 
                    ng-hide="showDetails === true" 
                    ng-click="showDetails = !showDetails">
                    Details
            </button>

            <button 
            	class="btn btn-xs btn-primary"
            	ng-show="showDetails"
            	ng-click="editUser(user)">Edit
            </button>

            <button class="btn btn-xs btn-danger" 
                    ng-show="showDetails === true"
                    ng-click="showDetails = !showDetails">
                    Close
            </button>

            <div class="details" ng-show="showDetails === true">

              <p>{{user.description}}</p>   

            </div>
          </div> 
        </div>
      </div>          
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <script src="scripts/usersController.js"></script>
  <script src="scripts/usersFactory.js"></script>
  <script src="scripts/usersFilter.js"></script>

</html>
